.container {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.form input:first-child {
  margin-top: 10px;
}

.form input {
  border: 1px solid #cccccc;
  padding: 12px 10px;
  outline: none;
  margin-bottom: 12px;
  width: 200px;
}

.form button {
  background-color: aquamarine;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.dataTable {
  margin-top: 30px;
}

table button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(255, 191, 0);
  padding: 6px 5px;
  margin: 0 5px;
  border-radius: 6px;
}

table button:last-child {
  background-color: red;
}

table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 12px;
}

.edit-cancel-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.edit-cancel-btn button:last-child {
  background-color: red;
}
